indexFile system.ndx
colvarsTrajFrequency 100

# https://colvars.github.io/gromacs-2024/colvars-refman-gromacs.html#sec:cvc_contacts

colvar {
    name mixing_top
    coordNum {
        group1 { indexGroup DPPC_C1A_top }
        group2 { indexGroup DIPC_C1A_top }
        cutoff3 (1.1, 1.1, 10)
        tolerance 0.001
        pairListFrequency 100
    }
}

colvar {
    name mixing_bottom
    coordNum {
        group1 { indexGroup DPPC_C1A_bottom }
        group2 { indexGroup DIPC_C1A_bottom }
        cutoff3 (1.1, 1.1, 10)
        tolerance 0.001
        pairListFrequency 100
    }
}

# Mixing
harmonic {
    name mixingRestraint
    colvars mixing_top mixing_bottom
    forceConstant 1
    outputEnergy off
    centers 65 65
}
